a {
	text-decoration: none!important;
}
.clear {
	clear: both;
}
.wrap {
	max-width: 1300px;
    margin: 10px auto;
}
ul li {
	list-style: none;
}
/*TopNav*/
.img_top {
	height: auto;
	width: 100%;
}
.navbar-toggle {
	background-color: #a71e1e;
}
/*Navbar*/
@media (max-width: 767px) {
.navbar-collapse ul,.navbar-collapse ul .dropdown_menu {
	text-align: center;
	}
}
.homepage {
    color: #9e3b3b!important;
    font-size: 17px;
    font-weight: bold;
}
.navbar-inverse {
    border-radius: 0;
    background-color: wheat;
    border-color: grey;
}
a.navbar-brand {
    color: #6a3f2c!important;
    font-size: 27px;
    font-family: fantasy!important;
}
a.dropdown-toggle {
    color: #9e3b3b!important;
    font-size: 15px;
    font-weight: bold;
}
/*Slide*/
.swiper-container {
	height: auto;
}
.swiper-button-prev {
    left: 45px!important;
}
.swiper-button-next {
    right: 45px!important;
}
.content_ebook:hover {
	border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    border: none;
}
.img_banner {
    width: 100%;
}
.content_ebook {
	padding-top: 10px;
	padding-bottom: 10px;
}
.img_ebook {
	width: 115px;
	height: 160px;
	position: relative;
    left: 24px;
    max-width: 140px;
}
p.title {
    font-size: 13px;
    color: #000;
    position: relative;
    text-align: center;
    margin-top: 5px;
}
.price{
	text-align: center;
	margin-bottom: 10px;
}
span.price-sell {
    font-size: 15px;
    font-weight: bold;
    color: rebeccapurple;
}
.price-sale {
	border: 1px solid #ff9601;
    background-color: #ff9601;
    color: white;
}
strike {
	color: grey;
    font-size: 12px;
    display: inline;
    margin-top: 5px;
}
.shopping_cart:hover {
	display: block;
}
/*leftbar*/
.leftbar {
    float: left;
    width: 17%;
    border-radius: 5px;
    border: 1px solid rgba(190, 104, 62, 0.86);
    box-shadow: 2px 0px 11px 4px rgba(198, 115, 59, 0.78);
}
h2.category {
    color: #8c3530;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
}
.cate_left {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
p.menu_lv2 {
    padding-left: 6%;
    color: rgba(86, 16, 16, 0.85);
    font-weight: bold;
    margin-left: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.65);
    box-shadow: 1px 1px 0 0 rgba(128, 128, 128, 0.35);
    margin-top: 5px;
}
a.cate_link {
    color: rgba(75, 0, 130, 0.71);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    #myCate{
       	display: none;
    }
}
@media screen and (max-width: 768px) {
    i.fa-dedent {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #ico_menu {
       	display: none;
    }
}
/*Content*/
.content {
    float: left;
    width: 80%
}
.box_product {
	border-bottom: 1px solid tan;
}
.title_main {
	padding: 3px 3px;
	color: rebeccapurple;
	border-radius: 5px 0px 0px 5px;
}
.glyphicon-book {
	color: rebeccapurple;
}
.product-box-sub {
	float: right;
}
.product-box-sub ul {
	display: inline-flex;
	margin-top: 20px;
	font-weight: bold;
}
a.title_pro {
    color: black;
    font-size: 13px;
}
.product-box-sub ul li::after {
	content: "/";
	color: #ccc;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
li.active:last-child a {
    color: rebeccapurple;
    background: rgba(61, 42, 42, 0.12);
    padding: 5px;
    border-radius: 3px;
}
span.discount-label {
	left: 11%;
    width: 45px;
    position: absolute;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    padding: 5px 5px 3px 5px;
    height: 25px;
    border-radius: 3px;
    background: #c34b57;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    font-weight: 700;
    top: 5px;
    vertical-align: middle;
    box-shadow: 1px 1px 2px #000;
}
.img_pro {
	width: 115px;
	height: 160px;
	position: relative;
    left: 26%;
    max-width: 140px;
}
.btn-sm.btn_shop {
    margin-left: 30%;
}
.price-sell_pro {
    font-size: 15px;
    font-weight: bold;
    color: #d1141e;
}
/*Footer*/
.down {
    background-color: #653f2c;
    color: black;
    text-align: center;
    font-size: 18px;
}
.footer_menu li{
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
}
.footer.container {
    padding-top: 14px;
    padding-bottom: 15px;
}
/*responsive*/
@media only screen and (max-width: 770px) {
    .title_mn {
       text-align: center;
    }
    .footer_menu {
        display: none;
    }
}
@media only screen and (max-width: 770px) {
    .footer_title {
        text-align: center;
    }
}
@media only screen and (max-width: 770px) {
    #sub {
    position: relative;
    left: 56%;
    transform: translate(-100%,0);
    }
}
#active {
    border: 1px solid #dedede;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #f7f7f7;
}
.center {
    margin-top: 17px;
}
.content_main {
    font-size: 13px;
}
/* Detail */
.img_detail {
    height: 27em;
    margin: 15px auto;
    width: 17em;
    border: 1px solid grey;
    box-shadow: 4px 4px 4px 2px #6a402a;
}
.btn-cart {
    background-color: #834fbc!important;
    border-color: #834fbc!important;
}
.title_detail {
    text-transform: uppercase;
    text-align: center;
}
span.price_detail {
    color: green;
    font-size: 1.3em;
    font-weight: bold;
}
span.saleoff_detail {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}
.stt_detail {
    font-size: 1.2em;
    font-weight: bold;
}
h3.main_detail {
    color: #320465;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 128, 0, 0.48);
}
#btn_submit {
    background-color: #834fbc;
    border-color: #5a496d;
    border: 1px none;
}
.down_price.col-md-12 {
    margin-bottom: 15px;
}
.btn_spcart:hover {
    color: #fff;
    background-color: #66418e!important;
    border-color: #6a3b88!important;
}
/*Login*/
.login_form {
    border: 1px solid #895537;
    position: absolute;
    margin-top: 58px;
    color: black;
    text-align: center;
    border-radius: 0px 0px 0px 10px;
    display: none;
    z-index: 2;
    padding-bottom: 20px;
    right: 0;
    background-color: #895537;
    width: 219px;
}
.login_form h4 {
    color: #fcf8e3;
    text-transform: uppercase;
}
input[type="submit"] {
    margin-top: 10px;
    background-color: #01a8df;
}
.caret-inner {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-bottom-color: #895537;
    border-top: 9px solid transparent;
    position: absolute;
    top: -18px;
    left: 0px;
    display: inline-block;
    margin-left: -1px;
}